:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  > .navigation {
    border-bottom: 1px solid var(--color-border);

    display: flex;
    align-items: center;
    justify-content: center;

    > .filler {
      flex: 1 1 auto;
    }

    > * {
      margin: var(--margin-narrow);
    }

    > button {
      > i {
        min-width: 1em;
      }
    }
  }

  > .content {
    position: relative;
    flex: 1 1 auto;
  }

  @media (orientation: landscape) {
    flex-direction: row;

    > .navigation {
      flex-direction: column;
      justify-content: start;
      border-bottom: none;
      border-right: 1px solid var(--color-border);
    }
  }
}
