<ng-template #tmplEmpty><label>-</label></ng-template>

<ng-template #tmplItem let-item>
  <button class="btn btn-borderless text-ellipsis list-item item">{{ item }}</button>
</ng-template>

<cdk-virtual-scroll-viewport *ngIf="items?.length; else tmplEmpty" [itemSize]="rowTemplate ? itemSize || 23 : 23">
  <ng-container *cdkVirtualFor="let ii of items; trackBy: trackByIndex">
    <ng-container *ngTemplateOutlet="rowTemplate || tmplItem; context: {$implicit: ii}"></ng-container>
  </ng-container>
</cdk-virtual-scroll-viewport>
