.btn {
  border-radius: var(--radius-wide);
  padding: 0.28em 0.72em;
  outline: none;
  background-color: var(--color-bg);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-border);
  transition: background-color 200ms, color 200ms, border-color 200ms;

  &.btn-dense {
    padding: 0.1em 0.3em;
  }

  &.btn-borderless {
    border-width: 0px;
    padding: 1px;
  }

  &:not(:disabled) {
    cursor: pointer;

    &:hover,
    &.hover {
      background-color: var(--color-bg-elevated);
    }

    &:focus,
    &.focus {
      border-color: var(--color-default);
    }

    &.active {
      color: var(--color-active);
    }
  }

  &:disabled {
    color: var(--color-disabled);
  }
}
