.scroll-performance {
  will-change: scroll-position, transform;
}

.scroll-in-y {
  overflow-y: scroll;
  @extend .scroll-performance;
}

.text-nowrap {
  white-space: nowrap;
}

.text-ellipsis {
  @extend .text-nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
