:host {
  display: flex;

  overflow: hidden;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  > .list {
    min-width: 15rem;
    max-width: 15rem;
    padding: var(--padding-default);
  }

  > .content {
    flex: 1 1 auto;
    padding: var(--padding-default);
  }
}
