:host {
  display: flex;

  overflow: hidden;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  $width-list: 28ch;
  $width-text: 85ch;

  > .list {
    min-width: $width-list;
    padding: var(--padding-default);

    display: flex;
    flex-direction: column;

    > .list-actions {
      display: none;
      margin-bottom: var(--margin-default);

      > .list-single-action {
        width: 100%;

        > :nth-child(1n + 2) {
          margin-left: var(--margin-narrow);
        }
      }
    }

    > .list-content {
      flex: 1 1 auto;
      position: relative;
    }

    @media (max-width: $width-text + $width-list) {
      &:not(.visible) {
        display: none;
      }

      > .list-actions {
        display: unset;
      }
    }
  }

  > .content {
    flex: 1 1 auto;
    padding: var(--padding-default);
  }
}
