<div class="content scroll-in-y">
  <router-outlet></router-outlet>
</div>
<div class="list" [class.visible]="visibleArea === 'performers'">
  <dd-chords-performers class="list-content"></dd-chords-performers>
</div>
<div class="list" [class.visible]="visibleArea === 'tracks'">
  <div class="list-actions">
    <button (click)="resetPerformer()" class="btn btn-dense text-ellipsis list-single-action">
      <i class="fas fa-angle-left"></i>
      <i *ngIf="tracksFilterPerformer$ | async as performer">{{ performer }}</i>
    </button>
  </div>
  <dd-chords-tracks class="list-content"></dd-chords-tracks>
</div>
